/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d8f6f8;
    color: #333;
    overflow-x: hidden;
}

/* Navbar */
.navbar {
    background-color: #354750;
    padding: 15px;
}

.nav-link {
    font-size: 18px;
    color: #fff !important;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #00aaff !important;
}

/* Header Section */
.header-bg {
    background: linear-gradient(135deg, #545c65 0%, #39d1e6 100%);
    padding: 100px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px;
    border-radius: 20px;
    border:1px solid #000000;
}

h1 {
    font-size: 3.5rem;
    margin-bottom: 20px;
    animation: fadeIn 2s ease;
}

.lead {
    font-size: 1.5rem;
    margin-bottom: 40px;
}

.buttons a {
    margin: 10px;
    margin-top: 30px;
}

.highlight {
    color: #013848;
}


.profile-picture img {
    width: 270px;
    height: 300px;
    margin-left: 20px;
    border-radius: 20px;
    border: 5px solid #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    opacity: 0;
    animation: easeOut 2s forwards;
    animation-delay: 1s;
}

/* Section Titles */
.section-title {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 30px;
   position: relative;
}

.section-title::after {
    content: "";
    width: 100px;
    height: 4px;
    background-color: #39d1e6;
    position: absolute;
    bottom: -10px;
    /* left: 50%; */
    transform: translateX(-140%);
}

/* Info and Experience Boxes */
.info-box, .experience-box {
    background-color: #fff;
    padding: 30px;
    margin: 20px 0;
    border-radius: 10px;
    border:0.5px solid #000000;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.info-box:hover, .experience-box:hover {
    transform: translateY(-10px);
    background: linear-gradient(135deg, #f6fafe 0%, #dae3e4 100%);
}

/* Footer */
footer {
    background-color: #292b2c;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes easeOut {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fadeIn {
    animation: fadeIn 2s ease;
}

.animate-fadeInUp {
    animation: fadeInUp 2s ease;
}

.animate-easeOut {
    animation: easeOut 2s ease;
}
